# Dependencias
node_modules

# Build de la librería
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema / editor
.DS_Store
.vscode
.idea
*.swp

# Entornos
.env
.env.*

# Tokens locales de ejemplo (solo uso interno)
example/tokens.css


