.button {
  border-radius: var(--button-radius, 4px);
  border-width: var(--button-border-width, 1px);
  border-style: solid;
  font-family: var(--typography-font-family-ref-font-family-primary, "Source Sans Pro");
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.primary {
  background: var(--color-content-link-sem-color-content-link-default, #238EDE);
  color: var(--color-action-primary-fg-sem-color-primary-action-fg-default, #FFF);
  border-color: var(--color-content-link-sem-color-content-link-default, #238EDE);
}

.primary:hover {
  background: var(--color-action-primary-bg-sem-color-primary-action-bg-pressed, #0E3959);
  color: var(--color-action-primary-fg-sem-color-primary-action-fg-default, #FFF);
  border-color: var(--color-action-primary-bg-sem-color-primary-action-bg-pressed, #0E3959);
}

.primary:focus {
  background: var(--color-action-primary-bg-sem-color-primary-action-bg-pressed, #0E3959);
  color: var(--color-action-primary-fg-sem-color-primary-action-fg-default, #FFF);
  border-color: var(--color-action-primary-bg-sem-color-primary-action-bg-pressed, #0E3959);
}

.button[disabled] {
  background: var(--color-surface-sem-color-surface-disabled, #D9DDE2);
  color: var(--color-content-sem-color-content-disabled, #A1AAB6);
  border-color: var(--color-surface-sem-color-surface-disabled, #D9DDE2);

}

.md {
  padding: var(--sizing-spacing-sem-sizing-spacing-sm, 12px) var(--sizing-spacing-sem-sizing-spacing-lg, 24px);
  gap: var(--sizing-gap-sem-control-gap-sm, 4px);
  font-size: var(--typography-size-sem-typography-size-button-sm, 16px);
  height: var(--sizing-height-sem-control-height-md, 40px);
}

.fullWidth {
  width: 100%;
}